body {
  align-items: center;
  background: url("./assets/fernLeaves.jpg");
  background-size: cover;
  font-family: cursive;
  display: flex;
  height: 100vh;
  justify-content: center;
  margin: 0;
  text-align: center;
}

.form {
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  margin: 50px;
  padding: 30px;
}

.input {
  border: solid 4px green;
  box-sizing: border-box;
  color: green;
  display: block;
  font-size: 20px;
  text-align: center;
  padding: 10px;
  width: 100%;
}

.input::placeholder {
  color: lightgray;
  font-family: cursive;
}

.btn {
  background-color: green;
  border: none;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
  color: white;
  cursor: pointer;
  display: block;
  font-family: cursive;
  font-size: 20px;
  margin: 20px 0;
  padding: 10px;
  width: 100%;
}

.btn:hover {
  filter: brightness(0.9);
}

.score {
  color: green;
  text-align: right;
  margin-top: 0;
}
